@using Microsoft.AspNetCore.Identity
@using WebDevStd2531.AppData

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @* var appUser = await UserManager.GetUserAsync(User); OLD manual stuff*@ 
        var isAdmin = await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin");
        
        <div class="pull-right">
            @if (isAdmin)
            {
                <a asp-area="Admin" asp-controller="ProdAdmin" asp-action="ProdAdminist"><span class="btn btn-mini btn-primary"> Product Data Bank</span> </a>
                <a asp-area="Admin" asp-controller="CateAdmin" asp-action="CateAdminist"><span class="btn btn-mini btn-primary"> Category Data Bank</span> </a>
            }
            <a asp-controller="home" asp-action="index"><span class="btn btn-mini btn-primary"> Check out ours Term and Service. </span> </a>
            @* <a asp-controller="User" asp-action="Logout"><span class="btn btn-mini btn-primary"> Log Out </span> </a> *@
            @* <form id="logoutForm" class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
            </form> *@
        </div>
    }
    else
    {
        <div class="pull-right">
            <a asp-controller="User" asp-action="Register"><span class="btn btn-mini btn-primary"> Register </span> </a>
            @* <a asp-controller="User" asp-action="Login"><span class="btn btn-mini btn-primary"> Login </span> </a> *@
        </div>
    }
</ul>
