@model List<WebDevStd2531.Models.CartItemViewModel>
@using Microsoft.AspNetCore.Identity
@using WebDevStd2531.AppData

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "CartDetail";
	var totalLineItems = Model.Count;
}
<div class="span9">
	<ul class="breadcrumb">
		<li>
			<a asp-controller="Home"
			   asp-action="Index">
				Home
			</a> <span class="divider">/</span>
		</li>
		<li class="active"> Shopping Cart</li>
	</ul>

	<h3>  SHOPPING CART [ <small> @totalLineItems Item(s) </small>]<a asp-controller="home" asp-action="Index" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Return to Shop </a></h3>
	
	<hr class="soft" />
	@* @if (!SignInManager.IsSignedIn(User))
	{
		<table class="table table-bordered">
			<tr><th> Ops, You are not logged in!!!  </th></tr>
			<tr>
				<td>
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="inputUsername">Username</label>
							<div class="controls">
								<input type="text" id="inputUsername" placeholder="Username">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword1">Password</label>
							<div class="controls">
								<input type="password" id="inputPassword1" placeholder="Password">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">

								<button type="submit" class="btn">Sign in</button> OR
								<a asp-action="Register" asp-controller="User" asp-route-returnUrl="" class="btn">Register as a new user</a>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<a href="#" style="text-decoration:underline">Forgot password ?</a>
							</div>
						</div>
					</form>
				</td>
			</tr>
		</table>
	} *@

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Quantity/Update</th>
				<th>Price</th>
				<th>Discount</th>
				<th>Tax</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <img width="60" src="themes/images/products/4.jpg" alt="" /></td>
				<td>MASSA AST<br />Color : black, Material : metal</td>
				<td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				</td>
				<td>$120.00</td>
				<td>$25.00</td>
				<td>$15.00</td>
				<td>$110.00</td>
			</tr>
			<tr>
				<td> <img width="60" src="themes/images/products/8.jpg" alt="" /></td>
				<td>MASSA AST<br />Color : black, Material : metal</td>
				<td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				</td>
				<td>$7.00</td>
				<td>--</td>
				<td>$1.00</td>
				<td>$8.00</td>
			</tr>
			<tr>
				<td> <img width="60" src="themes/images/products/3.jpg" alt="" /></td>
				<td>MASSA AST<br />Color : black, Material : metal</td>
				<td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
				</td>
				<td>$120.00</td>
				<td>$25.00</td>
				<td>$15.00</td>
				<td>$110.00</td>
			</tr>

			<tr>
				<td colspan="6" style="text-align:right">Total Price:	</td>
				<td> $228.00</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right">Total Discount:	</td>
				<td> $50.00</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right">Total Tax:	</td>
				<td> $31.00</td>
			</tr>
			<tr>
				<td colspan="6" style="text-align:right"><strong>TOTAL ($228 - $50 + $31) =</strong></td>
				<td class="label label-important" style="display:block"> <strong> $155.00 </strong></td>
			</tr>
		</tbody>
	</table>
	<a asp-controller="Prod"
	   asp-action="Pay"> class="btn btn-large pull-right">Proceed<i class="icon-arrow-right"></i></a>

</div>