html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* Custom CSS for site.css */

/* 1. Card Styling and Centering for the Registration Form */
.form-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
}

.form-check {
    gap: 5px;
    display: flex;
    margin: 0px;
}
.form-check * {
    margin: 0px;
}

.form-container h2 {
    text-align: center;
    margin-top: 0;
}
